@charset "ISO-8859-1";
	.Login
	{
		display: flex;
		justify-content: center;
		
	}
	.oep1
	{
		border: 3px solid rgb(0, 0, 0) ;
		margin-top: 30vh;
		background-size: 10%;
		background-color: rgb(248, 248, 248);
		
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 10px;
		padding-left: 10px;
		border-radius: 10px;
	box-shadow: 2px 4px 5px black;
	
		
		 
	
	
	}
	
	h2{
	color: rgb(255, 0, 0);
	font-size: 40px;
	font-family: cursive;
	margin-top: 20px;
	
}
a{
	font-size: 30px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
	color: rgb(0, 64, 128);
	text-decoration: none;
	}
